@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

:root{
  --prymary-color: #f3963f;
  --second-color: rgba(143, 143, 143, 0.3);
  --third-color: rgba(0, 0, 0, 0.6);
  --fourth-color: rgba(161, 161, 161, 0.4);
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--fourth-color);
}

.container{
  width: 980px;
  margin: 0 auto;
  background-color: #FFF;
}

/* == menu == */
nav {
  height: 75px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

nav div{
  display: flex;
  align-items: center;
}

nav img{
  width: 60%;
}

nav ul {
  margin: 0 auto;
  display: flex;
  align-items: center;
}


nav ul li{ 
  display: inline-block;
  padding: 23px 15px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 55px;
  cursor: pointer;
}

nav ul li:hover {
  color: var(--prymary-color);
  border-bottom: var(--prymary-color) solid 3px;
}


/* Slideshow container */

.slideshow-container{
  min-height: 326px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.mySlides{
  position: absolute;
}

.mySlides img{
  width: 100%;
}
.prev, .next{
  position: relative;
  height: 51px;
  width: 50px;
  text-align: center;
  font-size: 35px;
  top: 16vh;
  background-color: var(--second-color);
  color: var(--prymary-color);
  border-radius: 50%;
  cursor: pointer;
}

.prev{
  margin-left: 80px;
  padding-right: 3px;
}

.next{
  margin-right: 80px;
  padding-left: 3px;
}

.remo{
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* informação */
.desc{
  padding: 24px;
  text-align: center;
  color: var(--third-color);
  font-size: 20px;
  font-weight: 350;
  letter-spacing: 1px;
}